<div class="right_border">
	erstellt von <strong><%= user.username %></strong>
	<br/>
	<%= image_tag("nature.png", class: "img-responsive") %>
	<br/>
	<small>Mitglied seit <%= user.created_at %></small>
</div>
