<div class="panel panel-success">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>Kommentare</strong>   	
  </div>
  <!-- Table -->
  <table class="table table-hover">
    <tbody>    	    
    	<% comments.each do |comment| %>
    		<tr>
        		<td><%= comment.comment %><br/><small>erstellt durch <%= link_to comment.user.username, comment.user %> am <%= comment.created_at %></small></td>        		        		    		     
      		</tr>
    	<% end %>    	
    </tbody>
  </table>  
</div>  
