<h3><%= @pearl.title %></h3>

<div class="container-fluid">	
	<% if @pearl.image_url.present? %>			
    	<%= image_tag(@pearl.image_url, :class => "img-responsive") %>
    <% end %>	        	        
    <br />
    <%= @pearl.body %>    
</div>
<br/>
<%= link_to 'Edit', edit_pearl_path(@pearl) %>
<br/>
<br/>
<br/>