<h3>Gespr채che</h3>

<% if user_signed_in? %>
	Sie sind als <%= current_user.username %> eingeloggt.
<% else %>
	Sie sind derzeit nicht eingeloggt. <%= link_to("Login", new_user_session_path) %></li>
<% end %>
<br/>
<br/>
<div class="panel panel-success">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>Forum</strong></div>

  <!-- Table -->
  <table class="table table-hover">
    <thead>
      <tr>        
        <th>Thema</th>
        <th>Diskussionen</th>
        <th>Beitr채ge</th>
        <th>Zuletzt</th>
      </tr>
    </thead>
    <tbody>
    	
    	
    	
      <tr data-link="<%= root_path %>" >
        <td><strong>Allgemeine Diskussion</strong><br/>Fragen rund um das Thema Hypnose-Therapie</td>
        <td>3</td>
        <td>345</td>
        <td>Heute, 16:uhr</td>        
      </tr>
      <tr>
        <td><strong>Einfach-Leben</strong><br/>Lebensphilosophie, Vitalit채t und Vorw채rts</td>
        <td>3</td>
        <td>345</td>
        <td>Heute, 16:uhr</td>  
      </tr>
      <tr>
        <td><strong>Allgemeine Diskussion</strong><br/>Fragen rund um das Thema Hypnose-Therapie</td>
        <td>3</td>
        <td>345</td>
        <td>Heute, 16:uhr</td>  
      </tr>
    </tbody>
  </table>  
</div>  
<br/>
Anzahl an registrierten Benutzer: <strong>85</strong>