<%= image_tag("logo_sm.jpg", class: "img-responsive col-md-3 pull-right") %>	
<h3>Einfach machen!</h3>
<p>
	"Einfach machen!" ist eine Lebens-Philosophie, die
	<ul>
		<li>Zu mehr <strong>Ich</strong> führt</li>
		<li>Mut zur <strong>Veränderung</strong> macht</li>
		<li>Innere <strong>Ausgeglichenheit</strong> fördert</li>
		<li>Neue <strong>Wege</strong> und <strong>Möglichkeiten</strong> offenbart</li>
		<li>Aus Wünschen <strong>erreichbare Ziele</strong> macht</li>
		<li>Uns mit unserer eigenen <strong>kindlicher Leichtigkeit</strong> immer beschenkt</li>
	</ul>
</p>
<br />
<p>
	"Einfach machen!" ist aber auch <strong>Personal Coaching</strong>, <a href="http://www.hypnose-schule.ch">Hypnose-Therapie nach schweizer Model</a> und <strong>eine wundervolle Begegnung</strong> in der Innerschweiz...
</p>

<p>
	Nehmen Sie sich <strong>einfach einmal</strong> Zeit mal ein paar <%= link_to "Gedanken", weekly_pearls_path %> zu gönnen. Oder tauschen Sie sich mit mir und anderen Usern im <%= link_to "Forum", forum_path %> aus.
</p>