<h3>Was biete ich an</h3>
Einfach machen heisst für mich, dass ich Ihnen bei folgenden Aspekten nützlich sein kann:
<ul>
	<li>Ihre persönliche <strong>Leistungsfähigkeit</strong> optimieren</li>
	<li>Ängste, Blockaden und Phobien erkennen und <strong>auflösen</strong></li>
	<li>Das <strong>Ich</strong> stärken: <strong>Selbstbewusstsein</strong> und <strong>Selbstvertrauen</strong></li>
	<li><strong>Heilungsprozesse</strong> und die allgemeine <strong>Gesundheit</strong> fördern</li>
	<li>Eigene <strong>Ressourcen</strong> und <strong>Potentiale</strong> erfolgsorientiert schärfen</li>
	<li>Sich von Seelischen und körperlichen Belastungen <strong>befreien</strong></li>
	<li>Ruhe, Entspannung und <strong>Leichtigkeit</strong> unterstützen</li>
	<li>Unterstützung beim Beschreiten <strong>neuer Wege</strong></li>
	<li>Störende <strong>Verhaltensmuster</strong> ablegen</li>
	<li>Stress, Leiden und Sorgen <strong>nachhaltig</strong> angehen</li>
	<li>Schmerzen und körperliche Beschwerden <strong>lindern</strong></li>
</ul>
<p>
Lassen sie uns bei einem kostenlosen Erstgespräch die <strong>Möglichkeiten einer Zusammenarbeit</strong> ausloten. Jeder Fall ist ein <strong>Einzelfall</strong>, der einen für beide Seiten klar formulierten und erkannten Auftrag erfordert.  
</p>
<p>
In folgenden Fällen wird eine Zusammenarbeit wahrscheinlich nicht ohne weiteres erfolgen können:
<ul>
	<li>Medikamentös behandelte Krankheitsbilder</li>
	<li>Persönlichkeitsstörungen</li>
	<li>Bei Kontraindikationen zur Hypnosetherapie</li>
	<li>Ziele, die meiner Lebensphilosphie wiedersprechen</li>
</ul>
</p>