<% title "Was biete ich an" %>

<h3>Was biete ich an</h3>
Hypnose-Therapie und Personal Coaching heisst für mich, dass ich Ihnen bei folgenden Aspekten nützlich sein kann:
<ul>
	<li class="spaceditem">Ihre persönliche <strong>Leistungsfähigkeit</strong> optimieren</li>
	<li class="spaceditem">Ängste, Blockaden und Phobien erkennen und <strong>auflösen</strong></li>
	<li class="spaceditem">Das <strong>Ich</strong> stärken: <strong>Selbstbewusstsein</strong> und <strong>Selbstvertrauen</strong></li>
	<li class="spaceditem"><strong>Heilungsprozesse</strong> und die allgemeine <strong>Gesundheit</strong> fördern</li>
	<li class="spaceditem">Eigene <strong>Ressourcen</strong> und <strong>Potentiale</strong> erfolgsorientiert schärfen</li>
	<li class="spaceditem">Sich von Seelischen und körperlichen Belastungen <strong>befreien</strong></li>
	<li class="spaceditem">Ruhe, Entspannung und <strong>Leichtigkeit</strong> unterstützen</li>
	<li class="spaceditem">Unterstützung beim Beschreiten <strong>neuer Wege</strong></li>
	<li class="spaceditem">Störende <strong>Verhaltensmuster</strong> ablegen</li>
	<li class="spaceditem">Stress, Leiden und Sorgen <strong>nachhaltig</strong> angehen</li>
	<li class="spaceditem">Schmerzen und körperliche Beschwerden <strong>lindern</strong></li>
	<li class="spaceditem">Alter, Geschlecht, Herkunft, Religion... spielen bei uns keine Rolle</li>
</ul>
<p>
Lassen sie uns bei einem kostenlosen Erstgespräch die <strong>Möglichkeiten einer Zusammenarbeit</strong> ausloten. Jeder Fall ist ein <strong>Einzelfall</strong>, der einen für beide Seiten klar formulierten und erkannten Auftrag erfordert.  
</p>
<p>
In folgenden Fällen wird eine Zusammenarbeit wahrscheinlich nicht ohne weiteres erfolgen können:
<ul>
	<li class="spaceditem">Medikamentös behandelte Krankheitsbilder</li>
	<li class="spaceditem">Persönlichkeitsstörungen</li>
	<li class="spaceditem">Bei Kontraindikationen zur Hypnosetherapie</li>
	<li class="spaceditem">Ziele, die meiner Lebensphilosphie wiedersprechen</li>
</ul>
</p>