<%= image_tag("maro_bader_sm.jpg", class: "img-responsive pull-right") %>	
<h3>Wer bin ich</h3>
<p>
	Ich heisse <strong>Maro Bader</strong> und bin <a href="http://www.hypnose-schule.ch">diplomierter Hypnose-Therapie nach schweizer Model</a>. Ich unterstütze Klienten bei ihren Prozessen, indem ich versuche die richtigen Fragen zu finden, deren Antworten Einsichten und Lösungswege offenbaren.	
</p>