<%= image_tag("maro_bader_sm.jpg", class: "img-responsive pull-right") %>	
<h3>Wer bin ich</h3>
<p>
Ich heisse <strong>Maro Bader</strong> und bin <a href="http://www.hypnose-schule.ch">diplomierter Hypnose-Therapeut nach schweizer Model</a>. Ich unterstütze Klienten bei ihren Prozessen, indem ich versuche die richtigen Fragen zu finden, deren Antworten Einsichten und Lösungswege beim Klienten selbst offenbaren.
</p>
<p>
Es ist mir ein Anliegen, dabei neutral und urteilsfrei zu bleiben. Sowie stets im Sinne des Klienten, seiner Weltanschauung und seiner Glaubensausrichtung zu handeln. Nur dieses führt zum Erfolg. 	
</p>
<p>
In der Praxis wie im Leben bemühe ich mich die Lebens-Philospie "Einfach Machen!" umzusetzen. 
</p>
<br/>
<p>
	Antworten auf Fragen, die mich <strong>sehr</strong> interessieren:
	<ul>
		<li>Warum nicht?</li>
		<li>Was versprechen Sie sich denn davon, wenn wir dies machen?</li>
		<li>Ja, man kann vieles im Leben verändern, wenn man bereit ist den Weg zu gehen.</li>
		<li>Woran glauben Sie denn?</li>		
	</ul>
</p>
<br/>
<p>
	Antworten auf Fragen, die mich <strong>nicht</strong> interessieren:
	<ul>
		<li>Nein, mit Show-Hypnose hat das überhaupt nichts zu tun.</li>
	</ul>
</p>
	