/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
@import "bootstrap";

html,
body {
  height: 100%;  
  /* The html and body elements cannot have any padding or margin. */
}

body {
    font: normal 13px Helvetica, Arial, sans-serif;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -40px;
  /* Pad bottom by footer height */
  padding: 0 0 40px;
  max-width: 1000px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 40px;  
  max-width: 1000px;
  float: none;
  margin: 0 auto 0px;  
  text-align: center;
}

.shadow-box
{
  background: #fbfffd; /* Old browsers */
background: -moz-linear-gradient(top,  #fbfffd 0%, #f3fff8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfffd), color-stop(100%,#f3fff8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fbfffd 0%,#f3fff8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fbfffd 0%,#f3fff8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fbfffd 0%,#f3fff8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fbfffd 0%,#f3fff8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfffd', endColorstr='#f3fff8',GradientType=0 ); /* IE6-9 */


  -moz-box-shadow: 0 0 20px black; 
  -webkit-box-shadow: 0 0 20px black; 
  box-shadow: 0 0 20px black; 
}

#page
{
  width: 90%;   
}

a.btn:visited { color: #fff; }

.col-centered
{
  float: none;
  margin: 0 auto;  
}


.btn-group-vertical > button{
    margin-bottom:10px;
}

strong
{
  color: #1A6624;
}

.navigation-row
{
  background-color:#C6F0D3;
}

.bottom10
{
  margin-bottom: 10px;
}

.full-width
{
  width: 100%;
}

.boxed-pearl
{
  padding: 5px;   
}

.inner-pearl
{
  border: solid 1px black;  
  padding: 5px;     
  overflow: hidden;
  text-overflow: ellipsis;
}

.fixed_height
{
  height: 200px;   
}

.block_link
{
    display: block;
    text-align: center;    
}

.spaced-btn
{
  margin: 5px;
  width: 120px;
}
