<a href="">
<div class="container-fluid" id="header">
	<%= image_tag("header.jpg", class: "img-responsive") %>	
	<div class="pull-right">
					<% if user_signed_in? %>	  
					<li><%= link_to "Sign out " + current_user.email, destroy_user_session_path, :method => :delete %></li>				
				<% else %>
				    <li><%= link_to "Sign in", new_user_session_path %></li>
    				<li><%= link_to "Sign up", new_user_registration_path %></li>
				<% end %>
	</div>
</div>
</a>
