<div class="container-fluid" id="page">
	
	<%= render 'layouts/navigation' %>    
      	
	<div class="row-fluid" id="content">
		<div class="span9">     
			<%= render 'layouts/messages' %>         	
			<%= yield %>
		</div>
	</div><!--/row-->
</div>