<div class="panel panel-success">
	<div class="panel-heading">Einfach <strong>mehr</strong>!</div>
	<div class="panel-body">		
		<p>
			Einfach <strong>weiter</strong>!<br />		
			<a href="http://www.hypnosetherapie-schweiz.com">Hypnose Therapie Schweiz</a><br />
			<a href="http://www.zoom-in-personam.com/">Zoom in personam (Katja Berini)</a><br />
		</p>
		<br />
		<p>
			Einfach <strong>lernen</strong>!<br />		
			<a href="http://www.hypnose-schule.ch">Hypnose Schule Schweiz</a><br />
			<a href="http://www.gesundheits-akademie.ch">Gesundheitsakademie Schweiz</a><br />
			<a href="http://www.hypnose-dachverband.ch">Hypnose Dachverband Schweiz</a><br />
		</p>
		<br />			
		<p>
			Einfach <strong>schön</strong>!<br />		
			<a href="https://www.flickr.com/photos/davikokar">Fotos vom Banner (Davide Seddio)</a><br />			
		</p>
		<br />
		<p>
			Einfach <strong>finden</strong>!<br />		
			<form role="search">
	            <div class="form-group">
	                <input type="text" placeholder="Suchbegriffe" class="form-control">
	            </div>
	        </form>				
		</p>						
	</div>
</div>